
<div class="text-center">
  <h1>My Events</h1>


<h3>My Created Events:</h3>

<% @user.created_events.all.each do |event|%>
  <%= event.title %>
  <%= link_to 'Events Details', event_path(event) %>
<%end%>

<h3>Events I'm Going to:</h3>

<% current_user.attended_events.all.each do |event|%>
  <%= event.title %><br>
  <%= link_to 'Events Details', event_path(event) %>
<%end%>
</div>


