<h1>All Events</h1>

<% @events.each do |event| %>
    <%= event.description %>
    <%= link_to 'Go', attendences_path(:attended_event_id => event.id, :event_attende_id => current_user.id), :method => :post %><br>
  <% end %>