<div class="text-center">
<% @event.attendences.each do |a| %>
   <%= Event.find(a.attended_event_id).title %><br>
   <% break %>
<%end %>

<h1>People going to this event:</h1>

<% @event.attendences.each do |a| %>
   <%= User.find(a.event_attende_id).username %><br>
<%end%>
</div>

